.done {
    text-decoration: line-through;
}
.active {
    color: red;
}
.list-group-item {
    padding: .25rem .75rem;
    display: flex;
    justify-content: space-between;
}

.todos {
    display: block;
    margin: auto 0px ;
}

img {
    width: 45px;
    height: 35px;
}